# Database
DATABASE_URL="postgresql://your_user:_user_password@your_host:5432/your_database"

# Mail service
HOST=""
AUTH_USER= ""
AUTH_PASS= ""

# Token
NEXT_PUBLIC_JWT_SECRET=

# Cloudinary Front
NEXT_PUBLIC_CLOUDINARY_BASE_URL=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_API_KEY=""
NEXT_PUBLIC_CLOUDINARY_API_SECRET=""

# Cloudinary Back
CLOUDINARY_BASE_URL=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""